@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#header1-2 H1 {
  color: #f97352;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#header1-2 P {
  text-align: center;
  color: #000000;
  font-size: 25px;
}
#msg-box5-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3 .mbr-article {
  color: #ffffff;
}
#features1-5 P {
  text-align: center;
  font-size: 20px;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #d14841;
  font-size: 20px;
}

#dropdown-menu-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-f .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-f .nav .link,
#dropdown-menu-f .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-f .navbar,
#dropdown-menu-f .dropdown-menu {
  background: #333333;
}
#dropdown-menu-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-f .dropdown-menu a:hover,
#dropdown-menu-f .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-f .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-c .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-d .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-d .nav .link,
#dropdown-menu-d .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-d .navbar,
#dropdown-menu-d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-d .dropdown-menu a:hover,
#dropdown-menu-d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-d .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-e .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-9 .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-a .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .navbar-brand a {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-b .navbar-toggler {
  color: #ffffff;
}
